*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#F8F3EA;
    color:#4B2E20;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#f5e6d6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
    z-index:1000;
}
header h1{
    margin-left: 80px;
    font-family:Arial,Halvetica, sens-serif;
    font-style:italic;
    text-align: center;
    
    
    
}
#img{
    width: 98px;
    height:100px;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 290px;
    box-shadow: 1px 1px 1px gray;
    
}
.img{
    width: 98px;
    height:100px;
    border-radius: 30%;
    object-fit: cover;
    margin-left: 290px;
    box-shadow: 1px 1px 1px gray;
    margin:20px 0 20px 30px;
}
main{
    margin-top: 120px;
}
.logo{
    margin-right:22px;
    border-radius:23px;
    height:300px;
    width:300px;
    box-shadow:2px 3px 1px gray;
}
#logo{
    width:200px;
    border-radius:23px;
    height:200px;
    box-shadow:2px 3px 1px gray;
    gap: 50px;
    float:right;
    margin-right: 100px;
    margin-bottom: 90px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:19px;
    margin:0;
    padding:0;
    
}

nav ul li{
    margin-left:30px;
    margin:0;
    padding:0;
}

nav ul li a{
    text-decoration:none;
    color:#4B2E20;
    font-weight:bold;
    text-shadow: 2px 1px 1px gray;
}

nav ul li a:hover{
    color: darkgray;
}   
nav ul li a:active,.visited{
    color: aqua;
    
}    

.div-1{
    width:100%;
    float: none;
}
.menu-img{
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 100px;
    box-shadow: 4px 5px 4px gray;
}
.menu-item{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
}
.menu-text {
     flex: 1;    
}
li{
    display:flex;            
    justify-content: space-between; 
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    margin-left: 40px;
}
.price {
    display: flex;            
    justify-content: space-between;
    font-weight: bold;
    color: #5D4037;
    margin-left: 50px;
}
#price{
    display:inline-block ;            
    justify-content: space-between;
    font-weight: bold;
    color: #5D4037;
    margin-left: 50px;
}
body{
    height:100vh;
    background-color: whitesmoke;
    background-size:cover;
    background-position:center;
    text-align:center;
    padding-top:90px;
    padding-bottom: 20px;
    
}

body-text{
    background:rgba(255,248,240,.8);
    padding:40px;
    border-radius:15px;
}

body h1{
    font-size:30px;
    color:#4E342E ;
    font-family: 'Georgia', 'Times New Roman', serif;
}

body p{
    margin:20px 0;
    font-size:20px;
}
body h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-style:bold;
    text-shadow: 1px 1px 1px gray;
}
ul{
    list-style-type:square;
    padding-left: 40px;
    padding-bottom: 20px;
      
    
}
body h2,li{
    margin-right:200px;
    
    
    
}
.service-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}

.service-list li {
    text-align: center;
    width:45%;
    border-bottom: 1px dotted #ccc;
}

.service-list img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #5D4037; 
    border-radius: 10px;
}

blockquote{
    color:#321414 ;
    font-family: 'Verdana', sans-serif;
    text-shadow: 1px 1px 1px gray;
    padding-bottom: 160px;
}
#blockquote{
    color:#321414 ;
    font-family: 'Verdana', sans-serif;
    text-shadow: 1px 1px 1px gray;
    padding-bottom: 160px;
    margin: 300px auto 0 auto;
    text-align: center;
    width:90%;
    float: none;
    clear:both;
    
}
span{
    color: rosybrown;
    text-shadow: 1px 2px 2px gray;
}
form {
    text-align: left; 
    padding-left: 20px;
}
div{
      display: inline-block;
      margin-right: 10px;   
      
}
button{
    display: inline;
    background-color: green;
    color:white;
    
}
button:hover{
    background-color: white;
    color:green;
}
.footer1{
    position:fixed;
    bottom: 0;
    left:0;
    clear: both;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #4a3728;
    color: white;
    border-radius:10px;
    box-shadow: 2px 1px 3px gray;
    justify-content: center;
       
}


footer a:hover{
    color:#D4AF37;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
}

    

